body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.top-section{
    background-color:#1F2937;
    padding-bottom: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding-left: 60px;
    padding-right: 60px;
    align-content: flex-start;
}

.left-header{
    display: flex;
    color:rgb(199, 201, 201) ;
    font-size: 26px;
    font-weight: 800;
    padding-top: 20px;
}

.right-header{
    display: flex;
    gap:18px;
    padding-top: 20px;
    align-self: flex-end;
}
a{
    display: flex;
    text-decoration: none !important;
    color: rgb(199, 201, 201);
}

.main-1{
    display: flex;
    background-color:#1F2937;
    padding-top:75px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
}

.AOM{
    display:flex;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
}

.text-1{
    display: flex;
    color: rgb(239, 245, 245);
    font-size: 48px;
    font-weight: 800;
    flex-wrap: wrap;
}

.text-2{
    display:flex;
    flex-wrap: wrap;
    color: rgb(219, 221, 221);
}

.starry_night{
    max-height: 200px;
    padding-left: 30px;
}

.quote{
    display: flex;
    align-items: center;
    max-width: 571px;
    color: rgb(219, 221, 221);
    font-size: 30px
}


.middle-section{

}

.header-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1F2937;
    font-size: 35px;
    background-color: rgb(219, 221, 221);
    height: 80px;
}

.art{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
}

.mona{
    display:flex;
    max-height: 250px;
}

.wave{
    max-height: 250px;
}

.girl{
    max-height: 250px;
}

.caption-1{
    max-width: 164px;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 3px;
}

.caption-2{
    max-width: 362px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.caption-3{
    max-width: 168px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.group4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 221, 221);
    font-size: 23px;
    height: 80px;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    gap:20px;
}

.text-3{
    display: flex;
    align-items: center;
    color:#1F2937;
}

button{
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #404b5c;
    color:rgb(219, 221, 221);
    display: flex;
    border-radius: 25px;
    align-items: center;
}